name: flutter_instagram_stories_example
description: A new Flutter application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_instagram_stories:
    path: ../

dev_dependencies:
  flutter_lints: ^1.0.4

  flutter_test:
    sdk: flutter


flutter:

  uses-material-design: true